@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
     font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Header styles
============================================ */
header{
    position: relative;
    z-index: 999;
}

.backgr1{
    background-color: #1E1E1E;
    position: relative;
}
 /* home */
main>section#home{
    height: 100vh;
}

#imag1{
    position: absolute;
    height: 80vh;
    bottom: 0;
    right: 0;
}
.homeTxt{
    color: white;
    position: absolute;
    left: 10vw;
    top: 40vh;
    margin: auto;
}
.text-1{
    font-size: 27px;
}
.text-2{
    
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.text-3{
    font-size: 40px;
    margin: 5px 0;
}

/* Header styles
============================================ */
header {
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #1E1E1E;
    color: #14192B;
}

header > nav {
    padding-right: 10px;
}

header menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header menu li {
    font-size: 20px;
    margin-left: 40px;
}

header menu li a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

/* normal state */
.hoverText {
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

/* hover state */
.hoverText:hover {
    font-weight: bold;
    transform: scale(1.2);
}

/* Underline Text */
.menu-btn {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.menu-btn::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #FECB02;
    transition: width 0.3s ease-in-out;
}

.menu-btn:hover::after {
    width: 100%;
}
.logo{
    padding: 20px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
}
header span{
    color: #FECB02;
    -webkit-text-stroke: 1px white;
    ;
}
/* commen
============================================ */

/* .topic {
    
    font-size: 45px;
    
} */

/* about me
============================================ */


/* aducation
============================================ */
#education{
    background-color: #1E1E1E;
    height: 100vh;
    color: white;
    position: relative;
}
.aduTopic{
    width: max-content;
    height: 20vh;
    margin: auto;
    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
}
section#education>div>h2{
    font-size: 40px;
    -webkit-text-stroke: 2px #D6D6D6;  
}

.school{

        position: absolute;
        top: 30vh;
        left: 10vw;
}
.ijse{
    position: absolute;
    top: 60vh;
    right: 10vw;
}
.edImg{
  width: 10vw;
  height: auto;
  border-radius: 3%;
  box-shadow: 0 0 8px rgba(248, 248, 248, 0.986);
}

.edArti {
    
    width: max-content;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px;
    position: absolute;
    
  }
  
  .edArti h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #schArti{
    top: 0;
    left: 12vw;
  }
  #ijseArti{
    text-align: right;
    right: inherit;
    
  }
  /* lanaugs
============================================ */
.aduTopic h2{
    font-size: 40px;
    -webkit-text-stroke: 2px #D6D6D6; 
}
.Languages{
    height: 100vh;
    color: white;
    background-color: #1E1E1E;
    position: relative;
}

.Languages ul li img{
     
    width: 50px;
    height: 50px;
    border-radius: 5px;
    
}  
.Languages ul {
    top: 30vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #44444C;
    width: 75vw;
    height: 50vh;
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;       
}
.Languages ul li figure figcaption{
    margin-top: 10px;
    text-align: center;
    
}


/* contact
============================================ */
#contact{
    background-color: #1E1E1E;
    height: 100vh;
    color: white;
    position: relative;
}
#contactlogo{
    position: absolute;
    top: 30vh;
    left: 10vw;
}
main>section#contact>section#contactlogo>div{
    position: relative;
    height: 50px;
}
main>section#contact>section#contactlogo>div>img{
    height: 30px;
}
#chatbox{
    width: 45vw;
    top: 20vh;
    right: 12vw;
    position: absolute;
}
#telno{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#gamil{
    position: absolute;
    top: 7px;
    left: 5vw;

}
#git{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#linkin{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#address{
    position: absolute;
    top: 7px;
    left: 5vw;
}
/*  chat box in contact */
form#form {
    padding: 20px;
    width: 50vw;
    margin: 0 auto;
    color: #fff;
    position: relative;
  }
  input#name{
    width: 40%;
    position: absolute;
  }
  input#email{
    width: 50%;
    left: 50%;
    position: relative;
  }
  input,
  textarea {
    display: flex;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: white;
    color: #44444C;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(201, 211, 214);
  }
  button {
    background-color: #44444C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #FECB02;
    color: #1E1E1E;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #chattitele{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
  }


/* foter
============================================ */
footer{
    display: flex;
    position: relative;
    background-color: #44444C;
    color: white;
    height: 7vh;

}
footer p{
    margin: auto;
}
